{% extends 'base.html' %} {% block content %} {% load static %}
            <!-- Embedded Zeffy Payment -->
            <section style="position: inherit;">
                <div style="position:relative;overflow:hidden;height:500px;width:100%;"><iframe title='Donation form powered by Zeffy' style='position: absolute; border: 0; top:0;left:0;bottom:0;right:0;width:100%;height:100%' src='https://www.zeffy.com/embed/donation-form/donate-to-make-a-difference-8120' allowpaymentrequest allowTransparency="true"></iframe></div>
                <!-- <a href="https://www.zeffy.com/en-US/embed/donation-form/donate-to-make-a-difference-8120?modal=true" target="_blank">
                    <button>Donate Now</button>
                </a> -->
            </section>
{% endblock %}