{% extends 'base.html' %} {% block content %} {% load static %}
            <section>
                <div class="subpage__section-container initiatives">
                    <h1 class="subpage__h1">Initiatives</h1>
                </div>
            </section>
            <section class="about__ourvalues-container">
                <div>
                    <h2>Initiatives</h2>
                        <p><strong>Career Program:</strong> Offer a specialized focus on the career interests of the young women in our program. Also, the program will allow the students to explore various career fields.</p>
                        <p><strong>Leadership Development Opportunities:</strong> Create opportunities for mentees to develop leadership skills through roles such as peer mentors, event organizers, and project leaders within the program.</p>
                        <p><strong>Alumni Network:</strong> Establish an alumni network to provide ongoing support, mentorship, and networking opportunities for program graduates as they transition to college and beyond.</p>
                        <p><strong>Online Mentorship Platform:</strong> Develop an online platform where mentees can connect with mentors, access resources, and engage in discussions and activities.</p>
                </div>
            </section>
{% endblock %}