{% extends 'base.html' %} {% block content %} {% load static %}
            <section>
                <div class="subpage__section-container mentor">
                    <h1 class="subpage__h1">Become a Mentor</h1>
                </div>
            </section>
            <section class="mentor__become-container">
                <span>Ready to change lives?</span>
                <h2>Become a Mentor</h2>
            </section>
            <section class="mentor__form-container">
                 <form action="{% url 'mentors' %}" method="post" enctype="multipart/form-data" class="mentor-form">
                    {% csrf_token %}
                    <!-- Name: <input type="text" name="name">
                    Email: <input type="email" name="" id=""> -->
                    {{ form }}
                    <button>Submit</button>
                </form>
            </section>
{% endblock %}